@model ComputerStore.Domain.Entities.CPU
@{
    ViewBag.Title = "EditCPU";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EditCPU</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    @Html.Display("Name")
}

