
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="frameone">

    <div class="cardlistone">



        <div class="card1">
            <a class="cardmainone" href="~/Admin/CPU">
                <h1 class="textone">Процессоры</h1>
            </a>
        </div>





        <div class="card2">
            <a class="cardmaintwo">
                <h1 class="texttwo">Материнские платы</h1>
            </a>
        </div>


        <div class="card3">
            <a class="cardmaintri">
                <h1 class="texttri">Видеокарты</h1>
            </a>
        </div>



        <div class="card4">
            <a class="cardmainfour">
                <h1 class="textfour">Оперативная память</h1>
            </a>
        </div>


        <div class="cardlisttwo">


            <a class="cardd1">
                <div class="carddmainone">
                    <h1 class="texttone">Блоки питания</h1>
                </div>
            </a>





            <div class="cardd2">
                <a class="carddmaintwo">
                    <h1 class="textttwo">Корпуса</h1>
                </a>
            </div>


            <div class="cardd3">
                <a class="carddmaintri">
                    <h1 class="textttri">Охлаждение компьютера</h1>
                </a>
            </div>



            <div class="cardd4">
                <a class="carddmainfour">
                    <h1 class="texttfour">Носители информации</h1>
                </a>
            </div>





        </div>





    </div>








</div>

<style>
    .frameone {
        position: absolute;
        width: 1700px;
        height: 800px;
        left: 50%;
        margin: 150px 0 0 -850px;
    }

    .cardlistone {
        position: absolute;
        width: 1700px;
        height: 350px;
        left: 0px;
        top: 0px;
    }

    .card1 {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        border-radius: 12px;
    }



    .cardmainone {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 12px;
        border:none;
    }

    .textone {
        position: absolute;
        left: 21.14%;
        right: 21.14%;
        top: 41.14%;
        bottom: 47.71%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */


        color: #000000;
    }


    .cardmaintwo {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 12px;
        border: none;
    }

    .texttwo {
        position: absolute;
        left: 21.14%;
        right: 21.14%;
        top: 41.14%;
        bottom: 47.71%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */
        color: #000000;
    }

    .card2 {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 450px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(55, 41, 41, 0.15);
        border-radius: 12px;
    }

    .cardmaintri {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 12px;
        border: none;
    }

    .texttri {
        position: absolute;
        left: 21.14%;
        right: 21.14%;
        top: 41.14%;
        bottom: 47.71%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */


        color: #000000;
    }

    .card3 {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 900px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(55, 41, 41, 0.15);
        border-radius: 12px;
    }





    .cardmainfour {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 12px;
        border: none;
    }

    .textfour {
        position: absolute;
        left: 21.14%;
        right: 21.14%;
        top: 41.14%;
        bottom: 47.71%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */


        color: #000000;
    }

    .card4 {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 1350px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(55, 41, 41, 0.15);
        border-radius: 12px;
    }


    .card1:hover {
        background: #878787;
        width: 370px;
        height: 370px;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        transition: 0.8s;
    }

    .card1:not(hover) {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        border-radius: 12px;
        transition: 1s;
    }

    .cardmainone:hover {
        background: #eceaff;
        transition: 1.2s;
    }

    .cardmainone:not(hover) {
        transition: 1.2s;
        background: #FFFFFF;
    }

    .card2:hover {
        background: #878787;
        width: 370px;
        height: 370px;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        transition: 0.8s;
    }

    .card2:not(hover) {
        position: absolute;
        width: 350px;
        height: 350px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        border-radius: 12px;
        transition: 1s;
    }

    .cardmaintwo:hover {
        background: #eceaff;
        transition: 1.2s;
    }

    .cardmaintwo:not(hover) {
        transition: 1.2s;
        background: #FFFFFF;
    }

    .card3:hover {
        background: #878787;
        width: 370px;
        height: 370px;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        transition: 0.8s;
    }

    .card3:not(hover) {
        position: absolute;
        width: 350px;
        height: 350px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        border-radius: 12px;
        transition: 1s;
    }

    .cardmaintri:hover {
        background: #eceaff;
        transition: 1.2s;
    }

    .cardmaintri:not(hover) {
        transition: 1.2s;
        background: #FFFFFF;
    }

    .card4:hover {
        background: #878787;
        width: 370px;
        height: 370px;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        transition: 0.8s;
    }

    .card4:not(hover) {
        position: absolute;
        width: 350px;
        height: 350px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        border-radius: 12px;
        transition: 1s;
    }

    .cardmainfour:hover {
        background: #eceaff;
        transition: 1.2s;
    }

    .cardmainfour:not(hover) {
        transition: 1.2s;
        background: #FFFFFF;
    }



    .cardlisttwo {
        position: absolute;
        width: 1694px;
        height: 350px;
        left: 0px;
        top: 450px;
    }



    .cardd1 {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(55, 41, 41, 0.15);
        border-radius: 12px;
        border: none;
    }

    .caddmaintwo {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 12px;
    }

    .texttone {
        position: absolute;
        left: 21.14%;
        right: 21.14%;
        top: 41.14%;
        bottom: 47.71%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */


        color: #000000;
    }


    .cardd2 {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 450px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(55, 41, 41, 0.15);
        border-radius: 12px;

    }

    .carddmaintwo {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 12px;
        border: none;
    }

    .textttwo {
        position: absolute;
        left: 21.14%;
        right: 21.14%;
        top: 41.14%;
        bottom: 47.71%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */


        color: #000000;
    }

    .cardd3 {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 900px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(55, 41, 41, 0.15);
        border-radius: 12px;
    }

    .carddmaintri {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 12px;
        border: none;
    }

    .textttri {
        position: absolute;
        left: 21.14%;
        right: 21.14%;
        top: 41.14%;
        bottom: 47.71%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */


        color: #000000;
    }

    .cardd4 {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 1344px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(55, 41, 41, 0.15);
        border-radius: 12px;
        color: #000000;
    }

    .carddmainfour {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FFFFFF;
        border-radius: 12px;
        border: none;
    }

    .texttfour {
        position: absolute;
        left: 21.14%;
        right: 21.14%;
        top: 41.14%;
        bottom: 47.71%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */


        color: #000000;
    }




    .cardd4:hover {
        background: #878787;
        width: 370px;
        height: 370px;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        transition: 0.8s;
    }

    .cardd4:not(hover) {
        position: absolute;
        width: 350px;
        height: 350px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        border-radius: 12px;
        transition: 1s;
    }

    .carddmainfour:hover {
        background: #eceaff;
        transition: 1.2s;
    }

    .carddmainfour:not(hover) {
        background: #FFFFFF;
        transition: 1.2s;
    }


    .cardd3:hover {
        background: #878787;
        width: 370px;
        height: 370px;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        transition: 0.8s;
    }

    .cardd3:not(hover) {
        position: absolute;
        width: 350px;
        height: 350px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        border-radius: 12px;
        transition: 1s;
    }

    .carddmaintri:hover {
        background: #eceaff;
        transition: 1.2s;
    }

    .cardmaintri:not(hover) {
        transition: 1.2s;
        background: #FFFFFF;
    }

    .cardd2:hover {
        background: #878787;
        width: 370px;
        height: 370px;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        transition: 0.8s;
    }

    .cardd2:not(hover) {
        position: absolute;
        width: 350px;
        height: 350px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        border-radius: 12px;
        transition: 1s;
    }

    .carddmaintwo:hover {
        background: #eceaff;
        transition: 1.2s;
    }

    .carddmaintwo:not(hover) {
        background: #FFFFFF;
    }

    .cardd1:hover {
        background: #eceaff;
        width: 370px;
        height: 370px;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.11);
        transition: 0.8s;
    }

    .cardd1:not(hover) {
        position: absolute;
        width: 350px;
        height: 350px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.04);
        border-radius: 12px;
        transition: 1s;
    }

    .carddmainone:hover {
        background: #eceaff;
        transition: 1.2s;
    }

    .carddmaintwo:not(hover) {
        transition: 1.2s;
        background: #FFFFFF;
    }

</style>
