<!DOCTYPE html>

<html>


<head>

    <title>PC-Volt</title>

    <link href="@Url.Content("~/Content/2.css")" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">

</head>

    
<body>
 



    </section>


    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <link rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css" />


    <style>
    </style>
    </head>



    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://psv4.userapi.com/c237231/u579376692/docs/d52/d10785a10339/2slider.jpg?extra=TIJGCfpUAelDluMrng9pKHaGeLoTU0I7FnKUykzKOP-drCAVwEUobMJfT0TYacCrG-ql7ZsNCVUnrq_pC0kcXleRUjBxDs8ITKOspaWAppFaqvZDWbQBOQNOOrrI-Zsfy5wFYWjr8POAv7S1T3f1L60"></div>
            <div class="swiper-slide"><img src="https://psv4.userapi.com/c237231/u579376692/docs/d53/62d5436729ed/3slider.jpg?extra=V73-XmJE8s6tKK-OeHMl1JJT8cf3BJ2n9rrnI7QIBbf3PZd9gt_oRiQXNP75DKPAKzF7nclET-feZ_NsGRLzUlt2NS63DLS8K-LJ2se7ij4uyqXQrFc133MnzUzJzHmUPFcyQaZJP3wF2NzgUiY9DSA"></div>
            <div class="swiper-slide"><img src="https://media.kingston.com/kingston/key-features/hx-keyfeatures-memory-predatorddr4-rgb-3-lg.jpg"></div>
     
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>


    </div>
    </div>






</body>

<div class="product-wrap1">
    <div class="product-item">
        <img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg">
        <div class="product-buttons">
            <a href="" class="button">Выбрать</a>
        </div>
    </div>
    <div class="product-title">
        <a href="">Процессоры</a>
        <span class="product-price">₽ 1999</span>
    </div>
</div>







<div class="product-wrap1">
    <div class="product-item">
        <img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg">
        <div class="product-buttons">
            <a href="" class="button">Выбрать</a>
        </div>
    </div>
    <div class="product-title">
        <a href="">Материнские платы</a>
        <span class="product-price">₽ 1999</span>
    </div>
</div>





<div class="product-wrap2">
    <div class="product-item">
        <img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg">
        <div class="product-buttons">
            <a href="" class="button">Выбрать</a>
        </div>
    </div>
    <div class="product-title">
        <a href="">Видеокарты</a>
        <span class="product-price">₽ 1999</span>
    </div>
</div>


<div class="product-wrap3">
    <div class="product-item">
        <img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg">
        <div class="product-buttons">
            <a href="" class="button">Выбрать</a>
        </div>
    </div>
    <div class="product-title">
        <a href="">Оперативка</a>
        <span class="product-price">₽ 1999</span>
    </div>
</div>
<div class="2pp">


    <div class="product-wrap4">
        <div class="product-item">
            <img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg">
            <div class="product-buttons">
                <a href="" class="button">Выбрать</a>
            </div>
        </div>
        <div class="product-title">
            <a href="">Процессоры</a>
            <span class="product-price">₽ 1999</span>
        </div>
    </div>







    <div class="product-wrap5">
        <div class="product-item">
            <img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg">
            <div class="product-buttons">
                <a href="" class="button">Выбрать</a>
            </div>
        </div>
        <div class="product-title">
            <a href="">Материнские платы</a>
            <span class="product-price">₽ 1999</span>
        </div>
    </div>





    <div class="product-wrap6">
        <div class="product-item">
            <img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg">
            <div class="product-buttons">
                <a href="" class="button">Выбрать</a>
            </div>
        </div>
        <div class="product-title">
            <a href="">Видеокарты</a>
            <span class="product-price">₽ 1999</span>
        </div>
    </div>


    <div class="product-wrap7">
        <div class="product-item">
            <img src="https://html5book.ru/wp-content/uploads/2015/10/black-dress.jpg">
            <div class="product-buttons">
                <a href="" class="button">Выбрать</a>
            </div>
        </div>
        <div class="product-title">
            <a href="">Оперативка</a>
            <span class="product-price">₽ 1999</span>
        </div>
    </div>
</div>











</html>
