<!DOCTYPE html>

<html>
<head>
    <title>PC-Volt</title>
    <link href="@Url.Content("~/Content/2.css")" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
</head>

    
<body>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <link rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css" />


    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            @*<div class="swiper-slide"><img src="https://cdn.discordapp.com/attachments/937407904024244265/951911562124337252/3slider.jpeg"></div>*@
            <div class="swiper-slide"><img src="https://imgur.com/9DQrGWM.jpg"></div>
            <div class="swiper-slide"><img src="https://imgur.com/2Y3hmAb.jpg"></div>
            <div class="swiper-slide"><img src="https://imgur.com/L0174Rj.jpg"></div>
            <div class="swiper-slide"><img src="https://imgur.com/1tRtwL4.jpg"></div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <style>
        .swiper {
            width: auto;
            height: auto;
        }
        .swiper-slide img {
            display: block;
            width: 60%;
            height: auto;
            object-fit: cover;
        }
        .maincontent {
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .2pp {

        }
        .product-center1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 100%;
            height: 1000px;
            justify-content: center;
        }
        .product-center2 {
            width: 1400px;
            height: auto;
            justify-content: center;
        }
    </style>

</body>
<div class="product-center1">
    <div class="product-center2">
        <div class="product-wrap1">
            <div class="product-item">
                <img src="https://imgur.com/kCo1Rv3.jpg">
                <div class="product-buttons">
                    <a href="~/CPU/List" class="button">Выбрать</a>
                </div>
            </div>
            <div class="product-title">
                <a href="~/CPU/List">Процессоры</a>

            </div>
        </div>

        <div class="product-wrap1">
            <div class="product-item">
                <img src="https://imgur.com/g5uXl9j.jpg">
                <div class="product-buttons">
                    <a href="~/MB/List" class="button">Выбрать</a>
                </div>
            </div>
            <div class="product-title">
                <a href="~/MB/List">Материнские платы</a>
            </div>
        </div>

        <div class="product-wrap2">
            <div class="product-item">
                <img src="https://imgur.com/zaHrXVL.jpg">
                <div class="product-buttons">
                    <a href="~/GPU/List" class="button">Выбрать</a>
                </div>
            </div>
            <div class="product-title">
                <a href="">Видеокарты</a>
            </div>
        </div>


        <div class="product-wrap3">
            <div class="product-item">
                <img src="https://imgur.com/awyA5nB.jpg">
                <div class="product-buttons">
                    <a href="~/RAM/List" class="button">Выбрать</a>
                </div>
            </div>
            <div class="product-title">
                <a href="">Оперативная память</a>
            </div>
        </div>

        <div class="2pp">
            <div class="product-wrap4">
                <div class="product-item">
                    <img src="https://imgur.com/CzVCbsD.jpg">
                    <div class="product-buttons">
                        <a href="~/Power/List" class="button">Выбрать</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">Блоки питания</a>
                </div>
            </div>

            <div class="product-wrap5">
                <div class="product-item">
                    <img src="https://imgur.com/FkN30PB.jpg">
                    <div class="product-buttons">
                        <a href="~/Case/List" class="button">Выбрать</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">Корпуса</a>
                </div>
            </div>

            <div class="product-wrap6">
                <div class="product-item">
                    <img src="https://imgur.com/zmerkPP.jpg">
                    <div class="product-buttons">
                        <a href="~/FAN/List" class="button">Выбрать</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">Охлаждение компьютера</a>
                </div>
            </div>

            <div class="product-wrap7">
                <div class="product-item">
                    <img src="https://imgur.com/nzt0Hyy.jpg">
                    <div class="product-buttons">
                        <a href="~/StorageDevice/List" class="button">Выбрать</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">Носители информации</a>
                </div>
            </div>

        </div>
    </div>
</div>
</html>
